@page "{id:int?}"
@model RazorPWeeklyPlanner.Pages.Activities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.WeekDays.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.WeekDays.Day)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity.ActivityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
