@page
@model RazorPWeeklyPlanner.Pages.Activities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="Day" asp-items="Model.DaysOfWeek">
            <option value="">All</option>
        </select>
        Name : <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].WeekDays.Day)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Activity[0].WeekDayId)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDays.Day)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.WeekDays.WeekDayId)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
