@page
@model RazorPWeeklyPlanner.Pages.Notes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.NotesColourCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.NotesColourCategory.NoteColourCategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.WeekDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.WeekDays.WeekDayId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Note.NoteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
