@page
@model RazorPWeeklyPlanner.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*<link rel="stylesheet" href="~/css/site.css" />*@
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
       Colour: <select asp-for="ColourC" asp-items="Model.Colours">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
    


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].NotesColourCategory.Colour)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Note[0].NotesColourCategoryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Note[0].WeekDays.Day)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Note[0].WeekDayId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Note) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesColourCategory.Colour)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NotesColourCategory.NoteColourCategoryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.WeekDays.Day)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.WeekDays.WeekDayId)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
